@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(/css/header.css);
@import url(/css/content.css);
@import url(/css/sidebar.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


:root{
  --colorPalabras: #fff;
  --porc100: 100%;
  --cero: 0;
  --hover_fondo_negro: #373737;
  --nada: none;
  --colorcanal: #aaa;
  --bordergba: 1px solid rgba(255, 255, 255, 0.1);
  --fondo_oscuro: #181818;
  --fondo_items: #313131;
  --blanco_search: #f2f2f2;
  --color_letra_clara: #121212;
}

/* Layout */

body {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
    'header header'
    'sidebar container';
  height: 100vh;
}

img {
  position: absolute;
  top: var(--cero);
  left: var(--cero);
  width: var(--porc100);
  height: var(--porc100);
  object-fit: contain;

}

a {
  text-decoration: var(--nada);
  color: var(--colorPalabras);
  font-size: 0.9rem;
}

h1 {
  font-size: 1.5rem;
  color: var(--colorPalabras);
}

h4 {
  font-size: 0.9rem;
  color: var(--colorcanal);
  margin-left: 20px;
  text-transform: uppercase;
}

i {
  font-size: 1.5rem;
}

p,
a {
  font-size: 0.9rem;
}

hr {
  border: var(--bordergba);
  margin: 12px 0px;
}



/* @media para  */

@media(max-width:1200px) {
  body {
    grid-template-columns: 70px 1fr;
  }

  .items span,
  .items h4 {
    display: var(--nada);
  }

  .items {
    padding: var(--cero);
  }

  .items_iconos {
    padding: var(--cero) 20px;
  }

  .chips {
    max-width: calc(100vw - 70px);
  }
}

@media(max-width:800px) {
  .buscador {
    display: var(--nada);
  }
}

/* optimizacion de codigo */

.flex-contenedor{
  display: flex;
  align-items: center;
}

.buscador input, .perfil a, .items_iconos:hover {
  background-color: var(--color_letra_clara);
}